<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="prime.css">
  </head>
  <body>
    <section class="card">
      <h1>Prime Number</h1>
      <form class="card_form" id="prime">
        <div class="card_form-input">
          <label for="number1">Number1</label>
          <input type="text" name="number1" id="number1" />
          <p class="output"></p>
        </div>
        <div class="card_form-input">
          <label for="number2">Number2</label>
          <input type="text" name="number2" id="number2" />
          <p class="output"></p>
        </div>
        <div class="card_form-input">
          <label for="number3">Number3</label>
          <input type="text" name="number3" id="number3" />
          <p class="output"></p>
        </div>
        <div class="card_form-input">
          <button type="submit" class="btn">Check</button>
        </div>
      </form>
    </section>

    <script src="./../script/Prime.js"></script>
  </body>
</html>
